<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

<div class="sidebar" id="sidebar">
<h2>AI System</h2>
<a href="/teacher">Dashboard</a>
</div>

<div class="main">
<div class="topbar" style="
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 20px;
">
<button onclick="toggleSidebar()">☰</button>
<a href="/logout">Logout</a>
</div>

{% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>