<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <div class="form-box">

    <div style="
    height: 5px;
    background: linear-gradient(90deg, #00c6ff, #007bff);
    border-radius: 10px;
    margin-bottom: 20px;
"></div>

        <h2>Student Performance System</h2>

        <p style="margin-bottom: 20px;">
            Track student performance, manage classes, and analyze results efficiently.
        </p>

        <a href="/login">
            <button>Login</button>
        </a>

        <br><br>

        <a href="/register">
            <button style="background:#28a745;">Register</button>
        </a>

    </div>
</div>

</body>
</html>